<!DOCTYPE html>
<html>
<head>
  <title>WaM - We are many</title>
  <link rel="shortcut icon" href="wam.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
